@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  position: relative;
  min-height: 100vh;
}
.invoiceCta{
  min-height: 150vh;
  background-image: url("../public/demo.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.feature-icon svg{
  background-color: rgb(4, 163, 71);
  width: 35px;
  height:35px;
}
.custom_input{
  @apply block py-2 px-0 w-full text-sm text-gray-700 bg-transparent border-0 border-b-2 border-white appearance-none focus:ring-0 focus:border-sky-300
}
